body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* section-1 mission-2022 */

.section1_mission-2022 {
  display: flex;
  height: 620px;
}

h1 {
  font-size: 60px;
  font-family: "Roboto Mono", monospace;
}
.mission-text {
  margin-left: 10%;
  margin-top: 5%;
}
p {
  color: dimgray;
}
.mission-img img {
  width: 65%;
  margin-left: 10%;
}
.mission-2022-orange {
  color: orange;
}
#border-color-text {
  border-left: 4px solid red;
  padding-left: 10px;
}
.explore-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700px;
  padding: 8px 20px;
  border-radius: 5px;
}
.scroll-text {
  margin-top: 5%;
}

/* Section-2 My-Mission in-2022  */

.my-mission-heading {
  text-align: center;
  font-size: 50px;
}
.color-2022 {
  color: orangered;
}

.section2_my-mission {
  display: flex;
}

.box-style {
  border-radius: 5px;
  margin-left: 20px;
}
.mission {
  background-color: rgba(244, 165, 96, 0.425);
  height: 120%;
  width: 85%;
  margin-left: 20px;

  padding: 2px 5px;
  border-radius: 3px;
}
.mission img {
  width: 30%;
}
.mission {
  background-color: rgba(250, 128, 114, 0.384);

  padding: 2px 5px;
  border-radius: 3px;
}
.vission img {
  width: 30%;
}
.goals {
  background-color: rgba(255, 192, 203, 0.384);
  padding: 2px 5px;
  border-radius: 3px;
}
.goals img {
  width: 30%;
}

/* Section No-3 Develop section */

.develop-section {
  margin-top: 10%;
  display: flex;
}

.develop-img {
  width: 50%;
}
.develop-img img {
  width: 70%;
  margin-left: 20%;
}
.develop-text {
  width: 40%;
  margin-left: 4%;
}
.develop-text2 h2 {
  font-size: 30px;
}
.develop-text2 {
  width: 40%;
  margin-left: 8%;
  margin-top: 3%;
}

/* Section no-5 Corona app */
.corona-section {
  margin-top: 10%;
}
.corona-content {
  display: flex;
}
.corona-heading h1 {
  font-size: 40px;
  text-align: center;
}
.corona-text {
  margin-left: 10%;
  width: 80%;
}
.corona-text h1 {
  font-size: 50px;
}

.corona-img img {
  width: 70%;
  height: 70%;
  margin-left: 30%;
}

/* Footer Section */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
.footer-text-color {
  color: orangered;
  font-family: 'Playfair Display', serif;
}
.missionh2{
    font-family: 'Playfair Display', serif;
}